<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yao.ssm.mapper.StuPraiseMapper">
    <insert id="insert">
        insert into StuPraise(sno,article_id) values(#{sno},#{article_id})
    </insert>
    <select id="find" resultType="stuPraise">
        select * from StuPraise where sno = #{sno} and article_id = #{article_id}
    </select>
    <delete id="delete" parameterType="int">
        delete from StuPraise where id = #{value}
    </delete>
</mapper>